/* COLORS */
:root{
    --pink: #E0A2FF;
    --blue: #3900A7;
    --yellow: #FCE815;

    --pinktp: rgba(224, 162, 255, 0.8);
}


/* RESET */

html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

/* BABYLON RENDER CANVAS */

#renderCanvas {
    width: 100%;
    height: 100%;
    touch-action: none;
    z-index: -1;
}

/* START SCREEN */

#startContainer {
    /* background-color: rgba(200, 200, 200, 0.5); */
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 32px;
    visibility: visible;
}

#startFrame {
    background-color: rgba(200, 200, 200, 0.75);
    width:100%;
    max-width: 1280px;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    backdrop-filter: blur(10px);
}

#startTitle {
    /* background-color: rgba(255, 0, 0, 0.5); */
    flex: 2;
    width: 100%;
    height: 100%;
    background-image: url(img/title.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#startText {
    /* background-color: rgba(0, 255, 0, 0.5); */
    flex: 4;
    width: 100%;
    height: 100%;
    padding: 50px;
    font-size: 42px;
    box-sizing: border-box;
}

#startInteraction {
    /* background-color: rgba(0, 0, 255, 0.5); */
    flex: 2;
    width: 100%;
    height: 100%;
    text-align: center;
}

#startButton {
    width: 50%;
    height: 50%;
    margin: 0 auto;
    font-size: 42px;
    background: rgb(255,205,0);
    background: linear-gradient(0deg, rgba(255,205,0,1) 0%, rgba(200,16,46,1) 100%);
    border-radius: 20px;
    border: 0;
}

#startButton:hover {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}

/* DIALOG FRAME */

#dialogFrame {
    position: absolute;
    margin-left: auto;
    height: 100%;
    max-height: 22vh;
    width: 100%;
    visibility: hidden;
    z-index: 1;
}

#dialogWrap{
    margin: 2vh auto;
    background-color: var(--pinktp);
    width: 95%;
    max-width: 1280px;
    height: 20vh;
    display: flex;
    border-style: solid;
    border-width: 2px;
    border-color: var(--yellow);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

#dialogPortrait {
    height: 100%;
    min-width: 20vh;
    flex: 1;
    background-image: url(img/kiez_logo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}

#dialogText {
    padding: 2vh;
    flex: 4;
    width: auto;
    font-size: 32px;
}